@font-face {
    font-family: "Raleway";
    src: url(./Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Economica_Bold";
    src: url(./Economica-Bold.ttf);
}

a {
    font-family: 'Raleway';
    color: white;
    font-size: 24px;
    font-weight: normal;
    text-decoration: none;
    margin: 20px;
}

a:hover {
    color: rgb(255, 187, 215);
}

#a-how-to-order {
    font-family: 'Economica_Bold';
    color: rgb(0, 0, 0);
    font-size: 56px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

body {
    margin: 0px;
}

#bottom-container {
    padding-bottom: 12px;
}
.button {
    border-radius: 10px;
    display: flex;
    align-items: center;        
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(159, 9, 8);
    border: 2px solid rgb(255, 255, 255);
    padding-right: 16px;
    margin: 20px;
    a {
        margin: 0px;
        padding: 10px;
    }
}

.button:hover {
    background-color: rgb(123, 5, 5);
}

.button-option {
    width: 256px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
}

.dishes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

#find-us-at {
    color: black;
    padding-top: 8px;
}

#footer {
    background-color: #0A141E;
    height: 144px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    a {
        margin: 0px;
    }
}

.googlemaps {
    width: 100%;
    height: 512px;
    padding-top: 64px;
}

h1 {
    font-family: 'Raleway';
    color: white;
    font-size: 96px;
    font-weight: bold;
    margin: 0px;
}

h2 {
    font-family: 'Raleway';
    color: #9F0908;
    font-size: 80px;
    font-weight: bold;
    padding-bottom: 0px;
    margin: 0px;
}

#h2-padding {
    padding-bottom: 64px;
}

h3 {
    font-family: 'Economica_Bold';
    color: rgb(0, 0, 0);
    font-size: 56px;
    font-weight: bold;
    padding-bottom: 16px;
    margin: 0px;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/img/1_hero/JPG/hero_bg.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

#icon-footer {
    width: 40px;
    height: 40px;
    margin: 0px;
}

.icon-phone {
    width: 30px;
    height: 30px; 
    padding: 10px;
}

#image-our-menu {
    width: 352px;
    height: 352px;
    padding-left: 80px;
    padding-right: 80px;

}

#ingredients {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

#left {
    justify-content: start;
}

.logo {
    width: 64px;
    height: 64px;
    padding-left: 5%;
}

#logo-footer {
    height: 44px;
    margin: 20px;
}

.footer-logo-s-visibility{
    width: 40px;
    height: 40px;
    display: none;
}

.logo-order {
    width: 128px;
    height: 128px;
}

#max-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
}

#max-container-footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
}

.menu-bar {
    display: flex;
    justify-content: space-around;
}

nav {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 112px;
    padding-top: 5px;
    font-family: 'Raleway';
    font-size: 24;
    font-weight: normal;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
}

#no-padding {
    padding-right: 0px;
}



.oder-options {
    padding-top: 64px;
    font-family: 'Economica_Bold';
    color: black;
    font-size: 56px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#our-menu {
    background-image: url(./assets/img/3_section_our_menu/JPG/section_our_menu_bg.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-family: 'Raleway';
    color: white;
    font-size: 24px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

#right {
    flex-direction: row-reverse;
    justify-content: end;
}

td {
    font-family: 'Raleway';
    color: #675E54;
    font-size: 32px;
    font-weight: bold;
    padding-right: 170px;
}

th {
    padding-bottom: 8px;
}


@media (max-width: 1280px) {
    nav{
        justify-content: space-between;
        height: 112px;
    }
    .navigation{
        padding-right: 5%;
    }
    .quick-link{
        display: none;
    }
    .logo {
        width: 64px;
        height: 64px;
        padding-left: 5%;
    }
    .button{
        border-radius: 10px;
        display: flex;
        align-items: center;        
        color: rgb(255, 255, 255);
        text-decoration: none;
        background-color: rgb(159, 9, 8);
        border: 2px solid rgb(255, 255, 255);
        padding-right: 5px;
        margin: 16px;
        a {
            font-size: 20px;
            margin: 0px;
            padding: 10px;
        }
    }
    .icon-phone {
        width: 30px;
        height: 30px; 
        padding: 5px;
    }
    h1{
        text-align: center;
        font-size: 72px;
    }
    p{
        font-family: 'Raleway';
        color: white;
        font-size: 20px;
        font-weight: normal;
        padding: 0px;
        margin: 0px;
    }
    h2 {
    font-size: 64px;
    text-align: center;
    padding-bottom: 48px;
    }
    #h2-padding {
        padding-bottom: 48px;
    }
    .dishes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        width: 90%;
        padding-bottom: 32px;
    }
    #left{
        justify-content: start;
    }
    .logo-order {
        width: 112px;
        height: 112px;
    }
    #max-container {
        display: flex;
        flex-direction: row;
        width: 90%;
    }
    .oder-options {
        padding: 0;
        font-size: 48px;
        gap: 56px;
    }
    #a-how-to-order {
        font-size: 32px;
    }
    .button-option {
        padding-bottom: 0;
        gap: 8px;
        a{
            margin: 0px;
        }
    }
    .container {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .bottom-element{
        padding-bottom: 0;
    }
    h3{
        font-size: 32px;
        padding-bottom: 16px;
    }
    #ingredients {
        width: 300px;
    }

    #image-our-menu {
        width: 352px;
        height: 352px;
        padding-inline: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    tr{
        display: flex;
        justify-content: space-between;
        padding-bottom: 8px;
    }
    td {
        font-family: 'Raleway';
        color: #675E54;
        font-size: 24px;
        font-weight: bold;
        padding: 0;
    }
    .googlemaps {
        padding-top: 48px;
    }
    #bottom-container {
        padding-bottom: 0;
    }
    .footer-logo-l-visibility{
        display: flex;
        margin: 20px;
    }
    .footer-logo-s-visibility{
        display: none;
    }
    #footer{
        height: 144px;
    }
    #icon-footer {
        width: 40px;
        height: 40px;
        margin: 0px;
    }
}

@media (max-width: 320px) {
    #image-our-menu {
        width: 300px;
        height: 300px;
    }
}


@media (max-width: 767px) {
    nav{
        justify-content: space-between;
        height: 64px;
        padding-top: 26px;
    }
    .navigation{
        padding-right: 5%;
    }
    .quick-link{
        display: none;
    }
    .logo {
        width: 40px;
        height: 40px;
        padding-left: 5%;
    }
    .button{
        border-radius: 10px;
        display: flex;
        align-items: center;        
        color: rgb(255, 255, 255);
        text-decoration: none;
        background-color: rgb(159, 9, 8);
        border: 2px solid rgb(255, 255, 255);
        padding-right: 5px;
        margin: 16px;
        a {
            font-size: 16px;
            margin: 0px;
            padding: 10px;
        }
    }
    .icon-phone {
        width: 30px;
        height: 30px; 
        padding: 5px;
    }
    h1{
        text-align: center;
        font-size: 44px;
    }
    p{
        font-family: 'Raleway';
        color: white;
        font-size: 16px;
        font-weight: normal;
        padding: 0px;
        margin: 0px;
    }
    h2 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 40px;
    }
    #h2-padding {
        padding-bottom: 40px;
    }
    .logo-order {
        width: 112px;
        height: 112px;
    }
    #max-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .oder-options {
        padding: 0;
        font-size: 48px;
    }
    #a-how-to-order {
        font-size: 32px;
    }
    .button-option {
        padding-bottom: 32px;
        gap: 8px;
        a{
            margin: 0px;
        }
    }
    .container {
        padding-top: 72px;
        padding-bottom: 72px;
    }
    .dishes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding-bottom: 32px;
    }
    .bottom-element{
        padding-bottom: 0;
    }
    h3{
        font-size: 32px;
        padding-bottom: 8px;
    }
    #ingredients {
        width: 300px;
    }
    #right {
        flex-direction: column;
    }
    #image-our-menu {
        width: 343px;
        height: 343px;
        padding-inline: 0;
        padding-top: 0;
        padding-bottom: 16px;
    }
    tr{
        display: flex;
        justify-content: space-between;
    }
    td {
        font-family: 'Raleway';
        color: #675E54;
        font-size: 24px;
        font-weight: bold;
        padding: 0;
    }
    .googlemaps {
        padding-top: 40px;
    }
    #bottom-container {
        padding-bottom: 0;
    }
    .footer-logo-l-visibility{
        display: none;
    }
    .footer-logo-s-visibility{
        width: 40px;
        height: 40px;
        display: flex;
        margin: 20px;
    }
    #footer{
        height: 86px;
    }
    #icon-footer {
        width: 32px;
        height: 32px;
        margin: 0px;
    }
}

@media (max-width: 380px) {
    #image-our-menu {
        width: 300px;
        height: 300px;
    }
}























































