@font-face {
    font-family: "Raleway";
    src: url(./Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Economica_Bold";
    src: url(./Economica-Bold.ttf);
}

a {
    font-family: 'Raleway';
    color: white;
    font-size: 24px;
    font-weight: normal;
    text-decoration: none;
    margin: 20px;
}

a:hover {
    color: rgb(255, 187, 215);
}

#a-how-to-order {
    font-family: 'Economica_Bold';
    color: rgb(0, 0, 0);
    font-size: 56px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

body {
    margin: 0px;
}

#bottom-container {
    padding-bottom: 12px;
}
.button {
    border-radius: 10px;
    display: flex;
    align-items: center;        
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(159, 9, 8);
    border: 2px solid rgb(255, 255, 255);
    padding-right: 16px;
    margin: 20px;
    a {
        margin: 0px;
        padding: 10px;
    }
}

.button:hover {
    background-color: rgb(123, 5, 5);
}

.button-option {
    width: 256px;
    height: 256px;
    display: flex;
    justify-items: space-between;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
}

.dishes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

#find-us-at {
    color: black;
    padding-top: 8px;
}

#footer {
    background-color: #0A141E;
    height: 144px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    a {
        margin: 0px;
    }
}

.googlemaps {
    width: 100%;
    height: 512px;
    padding-top: 64px;
}

h1 {
    font-family: 'Raleway';
    color: white;
    font-size: 96px;
    font-weight: bold;
    margin: 0px;
}

h2 {
    font-family: 'Raleway';
    color: #9F0908;
    font-size: 80px;
    font-weight: bold;
    padding-bottom: 0px;
    margin: 0px;
}

#h2-padding {
    padding-bottom: 64px;
}

h3 {
    font-family: 'Economica_Bold';
    color: rgb(0, 0, 0);
    font-size: 56px;
    font-weight: bold;
    padding-bottom: 16px;
    margin: 0px;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/img/1_hero/JPG/hero_bg.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

#icon-footer {
    width: 40px;
    height: 40px;
    margin: 0px;
}

.icon-phone {
    width: 30px;
    height: 30px; 
    padding: 10px;
}

#image-our-menu {
    width: 352px;
    height: 352px;
    padding-left: 80px;
    padding-right: 80px;

}

#ingredients {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

#left {
    justify-content: start;
}

.logo {
    width: 64px;
    height: 64px;
    padding-left: 16px;
}

#logo-footer {
    height: 44px;
    margin: 20px;
}

.logo-order {
    width: 128px;
    height: 128px;
}

#max-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.menu-bar {
    display: flex;
    justify-content: space-around;
}

nav {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 112px;
    padding-top: 5px;
    font-family: 'Raleway';
    font-size: 24;
    font-weight: normal;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#no-padding {
    padding-right: 0px;
}



.oder-options {
    padding-top: 64px;
    font-family: 'Economica_Bold';
    color: black;
    font-size: 56px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#our-menu {
    background-image: url(./assets/img/3_section_our_menu/JPG/section_our_menu_bg.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-family: 'Raleway';
    color: white;
    font-size: 24px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

#right {
    flex-direction: row-reverse;
    justify-content: end;
}

td {
    font-family: 'Raleway';
    color: #675E54;
    font-size: 32px;
    font-weight: bold;
    padding-right: 170px;
}

th {
    padding-bottom: 8px;
}



@media (max-width: 800px) {
    nav{
        height: 176px;
        display: flex;
        flex-direction: column;
    }
    .quick-link{
        display: none;
    }
    .button{
        border-radius: 10px;
        display: flex;
        align-items: center;        
        color: rgb(255, 255, 255);
        text-decoration: none;
        background-color: rgb(159, 9, 8);
        border: 2px solid rgb(255, 255, 255);
        padding-right: 16px;
        margin: 20px;
        a {
            margin: 0px;
            padding: 10px;
        }
    }
    h1{
        text-align: center;
        font-size: 64px;
    }
    p{
        font-family: 'Raleway';
        color: white;
        font-size: 16px;
        font-weight: normal;
        padding: 0px;
        margin: 0px;
    }
    h2 {
    font-size: 40px;
    text-align: center;
    }
    .logo-order {
        width: 112px;
        height: 112px;
    }
    #max-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .oder-options {
        padding: 0;
        font-size: 48px;
    }
    .button-option {
        padding-bottom: 32px;
        gap: 8px;
        a{
            margin: 0px;
        }
    }
    .container {
        padding-top: 72px;
        padding-bottom: 0;
    }
    .dishes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #right {
        flex-direction: column;
    }
    h3{
        font-size: 48px;
    } 
    #image-our-menu {
        width: 256px;
        height: 256px;
        padding: 24px 0px;
    }
    td {
        font-family: 'Raleway';
        color: #675E54;
        font-size: 24px;
        font-weight: bold;
        padding-right: 24px;
    }

    th {
        padding-bottom: 8px;
    } 
}























































